.banner {
    width: 100vw;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.bannerImage {
    object-fit: cover;
    z-index: 1;
}

.bannerContent {
    position: absolute;
    z-index: 2;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.subtitle {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.8;
}

/* หัวข้อหลัก */
.title {
    font-size: 56px;
    font-weight: bold;
    margin: 0;
}

.slogan {
    font-size: 18px;
    font-weight: 400;
    opacity: 0.9;
}

.bannerButton {
    margin-top: 20px;
    background-color: #ffffff;
    color: #4CAF50;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.SignButton {
    margin-top: 2px;
    background-color: #47be35;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.SignButton:hover {
    background-color: #108f3d;
    color: white;
    transform: scale(1.05);
}

.bannerButton:hover {
    background-color: #4CAF50;
    color: white;
    transform: scale(1.05);
}

.bannerButton:active {
    transform: scale(0.95);
}
