
.map-container {
    --camp-radius: 2rem;
    --camp-sign-color-back: #00c080;
    --camp-sign-color-font: #fff;
    --camp-pin-size-font: 1.2rem;
    
  }
  
  .map-container {
    border-radius: 0.5em;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    line-height: 1;
    position: relative;
    width: 1200px;  
    height: 500px;
  }
  
  /* Map - Background */
  .map-background {
    border-radius: inherit;
    left: 0;
    position: absolute;
    top: 0;
    width: 1200px;  
    height: 500px;
  }
  
  /* Map - Cities */
  .map-cities {
    width: 1200px;  
    height: 500px;
  }
  .map-camp {
    border-radius: var(--camp-radius);
    left: calc(var(--x) * 1% - var(--camp-radius));
    padding: var(--camp-radius);
    position: absolute;
    top: calc(var(--y) * 1% - var(--camp-radius));
  }
  .map-camp::after,
  .map-camp::before {
    font-size: var(--camp-pin-size-font);
  }
  .map-camp::before {
    content: "•";
    left: calc(-50% + var(--camp-radius));
    position: absolute;
    top: calc(-0.65em + var(--camp-radius));
    text-align: center;
    text-shadow: 0 1px 1px #000;
    width: 100%;
  }
  .map-camp::after {
    clip-path: inset(-0.5em 0 0 0);
    content: "📍";
    left: calc(-50% + var(--camp-radius));
    position: absolute;
    top: calc(-1em + var(--camp-radius));
    text-align: center;
    transition: all 300ms ease-out;
    width: 100%;
    z-index: var(--y);
  }
  
  /* Map - Sign */
  .map-camp__label {
    display: none;
    left: calc(-5em + 50%);
    position: absolute;
    text-align: center;
    width: 10em;
    z-index: 999;
  }
  .map-camp__sign {
    align-items: center;
    background-color: var(--camp-sign-color-back);
    border-radius: 0.2rem;
    border: 0.15em solid var(--camp-sign-color-font);
    box-shadow: 0 0 3px #000;
    color: var(--camp-sign-color-font);
    column-gap: 0.3em;
    display: flex;
    font-weight: 700;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    padding: 0.4em 0.6em 0.4em 0.3em;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    width: max-content;
  }
  .map-camp__sign::before {
    content: attr(data-icon);
  }
  
  /************/
  /* Tracking */
  /************/
  
  /* Map - Cities */
  .map-camp:hover::after {
    clip-path: inset(-0.5em 0 0.5em 0);
    transform: translateY(0.5em);
  }
  
  /* Map - Sign */
  .map-camp:hover .map-camp__label {
    animation: fadein 300ms forwards ease-out;
    display: block;
  }
  
  .map-camp:hover .map-camp__sign.anim::before {
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }
  .map-camp:hover .map-camp__sign.anim-grow::before {
    animation-name: grow;
    animation-timing-function: ease-in;
  }
  .map-camp:hover .map-camp__sign.anim-slidein::before {
    animation-name: slidein;
    animation-timing-function: ease-out;
  }
  
  /**************/
  /* Animations */
  /**************/
  
  /* Fade in from top */
  @keyframes fadein {
    0% {
      opacamp: 0;
      top: calc(var(--camp-radius));
    }
  
    100% {
      opacamp: 1;
      top: calc(var(--camp-radius) + var(--camp-pin-size-font) / 2);
    }
  }
  
  /* Grow from the ground */
  @keyframes grow {
    0% {
      transform: translate(0, 200%);
    }
  
    10% {
      transform: translate(5%, 180%);
    }
  
    20% {
      transform: translate(-10%, 160%);
    }
  
    30% {
      transform: translate(15%, 140%);
    }
  
    40% {
      transform: translate(-5%, 120%);
    }
  
    50% {
      transform: translate(10%, 100%);
    }
  
    60% {
      transform: translate(-15%, 80%);
    }
  
    70% {
      transform: translate(5%, 60%);
    }
  
    80% {
      transform: translate(0, 40%);
    }
  
    90% {
      transform: translate(0, 20%);
    }
  
    100% {
      transform: translate(0, 0);
    }
  }
  
  /* Slide in from left */
  @keyframes slidein {
    0% {
      transform: translateX(-200%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  